{% load static %}
{% load bootstrap3 %}
    
  <header id="header">
    <div class="header-main">
        <div class="box-left">
            <div class="item bt-menu">
                <div class="ico-menu">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <span class="has-tablet">MENU</span>
            </div>
        </div>
        <div class="box-right">
            <div class="item bt-search " id="js-search-container">
                <svg class="ico-svg" viewbox="0 0 14 14">
                    <use xlink:href="https://www.awwwards.com/assets/images/sprite-icons.svg#search"></use>
                </svg>
            </div>
            {% if user.is_authenticated %}

            <a href="{% url 'display_profile' %}" class="nav-item-nav-link mr-5" style="color: black">
               <i>{{ user | upper}}</i>
                <i class="far fa-user-circle fa-2x"></i>
            </a>
            <div class="item has-tablet" id="bt-submit">
                    <a href="{% url 'new-project' %}" class="button button-large">
                        <span>SUBMIT YOUR SITE!</span>
                    </a>


                </div>
                
            {% else %}
            <div>
                 <strong><a class="text-black" href="{% url 'register' %}">Register </a></strong> |
                <strong><a class="text-black" href="{% url 'login' %}"> log in</a></strong>
               
            </div>
            <div class="item has-tablet" id="bt-submit">
                <a href="{% url 'new-project' %}" class="button button-large">
                    <span>SUBMIT YOUR SITE!</span>
                </a>
            </div>

            {% endif %}   
        </div>
    </div>
</header>